<body>
<div class="container header">
  <div id="header" class="span-24">
  </div>
</div>



  <div class="container showgrid">
    <div class="span-24 last">
    <p>
    </p>
    </div>


    <div class="span-1">
    <p>
    </p>
    </div>
    <div class="span-22">

    <p>
    <b>OpenForum.Org</b>&nbsp; is a tool that concerned citizens can use to interact with others to express ideas on how they want their goverment to be run.
    We work closely with elected officials to make sure that, whenever possible, your voice is being heard.
    </p>
    </div>

    <div class="span-1 last">
    </div>



     <div class="box span-24 last">
      <div id="lineupthetext" style="display:inline;">
        <span style="font-size:12px;"><font color='#fff'><b>&nbsp;
        <a href="#">Civil Rights</a>&nbsp;|&nbsp;<a href="#">Economic</a>&nbsp;|&nbsp;<a href="#">Free Speech</a>&nbsp;|&nbsp;<a href="#">Policy</a></b></font></span>


        <div class="span-17">
        <span style="font-size:16px;"><font color='#fff'><b>&nbsp; Most Discussed Issues:</b></font></span>
        <span style="font-size:13px;"><font color='#fff'>What Concerns You</font></span>
        </div>
      </div>
      </div>



<div class="span-2">
  <p>
  </p>

  <p>
  <font size="4"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-22 last">
  <p>
  </p>
  <p>
  <font size="4"><b><a href="#"><font color='#0000EE'>&nbsp; No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b><br>&nbsp; &nbsp; 140 Character or less description or starting text of article or submission</font></font>
</b></h3>
  </p>
  </div>


<div Class="span-2">
<p>
</p>
</div>
<div class="span-21 last">
<hr>
</div>











<div class="span-2">
  <p>
  </p>

  <p>
  <font size="4"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-22 last">
  <p>
  </p>
  <p>
  <font size="4"><b><a href="#"><font color='#0000EE'>&nbsp; No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b><br>&nbsp; &nbsp; 140 Character or less description or starting text of article or submission</font></font>
</b></h3>
  </p>
  </div>


<div Class="span-2">
<p>
</p>
</div>
<div class="span-21 last">
<hr>
</div>






</body>

